<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="65a05505-6534-455d-ac8a-5a8ffa21fa63" Alias="memberLogin" Level="2">
  <Info>
    <Name>MemberLogin</Name>
    <Icon>icon-lock color-light-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="ce869f5c-d410-4a3e-8572-9593e49101c6">mainImageControls</Composition>
      <Composition Key="9090575e-290c-4585-91a4-b72ec30ff41f">sEOControls</Composition>
    </Compositions>
    <DefaultTemplate>MemberLogin</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="099df294-b3c9-46c6-b2bf-41ceebf8be0c">MemberLogin</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>