@inject IFeatureManager FeatureManager
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.Home>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@using Microsoft.FeatureManagement
@{
	Layout = null;
}

@Model.FeatureString

@if (await FeatureManager.IsEnabledAsync("EnOnly"))
{
	<h1>EN!</h1>
}

