<?xml version="1.0" encoding="utf-8"?>
<Content Key="5bef14e8-af82-4f8d-b74a-47f044d3731f" Alias="Beta page" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-20]/BetaPage</Path>
    <Trashed Parent="dcf18a51-6919-4cf8-89d1-36b94ce4d963">true</Trashed>
    <ContentType>betaTemplate</ContentType>
    <CreateDate>2022-11-16T18:35:20</CreateDate>
    <NodeName Default="Beta page" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="6c733a45-6f10-4902-8d3a-f853765653ca">BetaTemplate</Template>
  </Info>
  <Properties>
    <hideFromXMLSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXMLSitemap>
    <mainContent>
      <Value><![CDATA[{
  "name": "1 column layout",
  "sections": [
    {
      "grid": "12",
      "rows": []
    }
  ]
}]]></Value>
    </mainContent>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value><![CDATA[]]></Value>
    </metaKeywords>
    <metaName>
      <Value><![CDATA[]]></Value>
    </metaName>
    <subtitle>
      <Value><![CDATA[]]></Value>
    </subtitle>
    <title>
      <Value><![CDATA[Welcome to the beta]]></Value>
    </title>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>