<?xml version="1.0" encoding="utf-8"?>
<Content Key="372cf64a-425d-4407-92f5-58be8bff3bad" Alias="Beta Page" Level="2">
  <Info>
    <Parent Key="dcf18a51-6919-4cf8-89d1-36b94ce4d963">Home</Parent>
    <Path>/Home/BetaPage</Path>
    <Trashed>false</Trashed>
    <ContentType>betaTemplate</ContentType>
    <CreateDate>2023-05-23T21:13:21</CreateDate>
    <NodeName Default="Beta Page" />
    <SortOrder>7</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="6c733a45-6f10-4902-8d3a-f853765653ca">BetaTemplate</Template>
  </Info>
  <Properties>
    <hideFromXMLSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXMLSitemap>
    <mainContent>
      <Value><![CDATA[{
  "name": "1 column layout",
  "sections": [
    {
      "grid": "12",
      "rows": [
        {
          "name": "Full",
          "id": "27a653c7-5e11-498b-b98c-daf8892c600f",
          "areas": [
            {
              "grid": "12",
              "controls": [
                {
                  "value": "<p>This is only accessible to beta users!</p>",
                  "editor": {
                    "alias": "rte",
                    "view": "rte"
                  },
                  "styles": null,
                  "config": null
                }
              ],
              "styles": null,
              "config": null
            }
          ],
          "styles": null,
          "config": null
        }
      ]
    }
  ]
}]]></Value>
    </mainContent>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value><![CDATA[]]></Value>
    </metaKeywords>
    <metaName>
      <Value><![CDATA[]]></Value>
    </metaName>
    <subtitle>
      <Value><![CDATA[]]></Value>
    </subtitle>
    <title>
      <Value><![CDATA[Beta!!!]]></Value>
    </title>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>