<?xml version="1.0" encoding="utf-8"?>
<Content Key="e920ef9d-852c-41cb-bec6-ceba3d340d54" Alias="Login" Level="2">
  <Info>
    <Parent Key="dcf18a51-6919-4cf8-89d1-36b94ce4d963">Home</Parent>
    <Path>/Home/Login</Path>
    <Trashed>false</Trashed>
    <ContentType>memberLogin</ContentType>
    <CreateDate>2023-05-21T11:53:46</CreateDate>
    <NodeName Default="Login" />
    <SortOrder>6</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="099df294-b3c9-46c6-b2bf-41ceebf8be0c">MemberLogin</Template>
  </Info>
  <Properties />
</Content>