<?xml version="1.0" encoding="utf-8"?>
<Macro Key="08b678dc-592f-4ae8-b8ab-9f3fe341fb8b" Alias="LoginState" Level="0">
  <Name>Login State</Name>
  <MacroSource>~/Views/MacroPartials/Login State.cshtml</MacroSource>
  <UseInEditor>false</UseInEditor>
  <DontRender>false</DontRender>
  <CachedByMember>false</CachedByMember>
  <CachedByPage>false</CachedByPage>
  <CachedDuration>0</CachedDuration>
  <Properties />
</Macro>