<?xml version="1.0" encoding="utf-8"?>
<Macro Key="4ebcbe82-d318-44da-a897-95cdb976fdcc" Alias="MemberLogin" Level="0">
  <Name>MemberLogin</Name>
  <MacroSource>~/Views/MacroPartials/MemberLogin.cshtml</MacroSource>
  <UseInEditor>false</UseInEditor>
  <DontRender>false</DontRender>
  <CachedByMember>false</CachedByMember>
  <CachedByPage>false</CachedByPage>
  <CachedDuration>0</CachedDuration>
  <Properties />
</Macro>