<?xml version="1.0" encoding="utf-8"?>
<DataType Key="b7b4c4c2-bebd-45c7-a1e1-d6a1f2099822" Alias="Single Url Picker" Level="1">
  <Info>
    <Name>Single Url Picker</Name>
    <EditorAlias>Umbraco.MultiUrlPicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "HideAnchor": false,
  "IgnoreUserStartNodes": false,
  "MaxNumber": 1,
  "MinNumber": 0,
  "OverlaySize": null
}]]></Config>
</DataType>