<?xml version="1.0" encoding="utf-8"?>
<DataType Key="e6fcd803-4837-4ff1-842b-b5aa22c04b4d" Alias="Flagged Image" Level="1">
  <Info>
    <Name>Flagged Image</Name>
    <EditorAlias>Our.FeatureFlags.FeatureFlagged</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "DataType": "135d60e0-64d9-49ed-ab08-893c9ba44ae5",
  "Features": [
    "SearchImages"
  ],
  "Requirement": 1
}]]></Config>
</DataType>